<?xml version='1.0' encoding='utf-8'?>
<widget id="fr.xfufly.karmaquest" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>KarmaQuest</name>
    <description>An app that is going to enhance people's kindness.</description>
    <author email="tdidelot@iutbayonne.univ-pau.fr" href="#">
        DIDELOT Tim
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="orientation" value="portrait" />
    <icon src="www/img/logo.png"/>
</widget>
