@import url('./comfortaa.css');

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #EDF6E5;
    color: black;
    font-size: 12px;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    width: 100%;

    font-family: "Comfortaa", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

body > h1, body > section, body > form {
    margin-top: auto;
}

.topRightBtn {
    background-color: white;
    border: 1px solid black;
    padding: 0;
    margin-left: auto;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-decoration: none;
}

.topRightBtn img {
    margin: 0;
    width: 50px;
}

#sweetCard, #littleSweetCard, #formPhotoProof {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px black;
    border-radius: 10px;
}

#sweetCard {
    height: 225px;
}

#littleSweetCard {
    height: 100px;
}

#sweetCard h1 {
    font-size: 24px;
    font-weight: normal;
    overflow: visible;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 0;
}

#sweetCard p, #littleSweetCard p {
    font-size: 16px;
}

#sweetCard p {
    margin-top: auto;
    margin-bottom: 5px;
}

#sweetCard hr, #formPhotoProof hr {
    border: 0;
    clear: both;
    display: block;
    width: 100%;               
    background-color: black;
    height: 1px;
}

#sweetCard #sweetBtns {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 15px;
}

#sweetCard #sweetBtns button {
    color: #ffffff;
    width: 50%;
    height: 50px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-width: 1px;
    font-weight: 500;
}

#acceptBtn {
    background-color: #B5EAEA;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
    transform: translateX(25%);
    text-align: left;
    padding-left: 12.5%;
}

#acceptBtn.accepted {
    animation: acceptBtnAccepted 2s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 0;
    text-align: center;
    transform: translateX(50%);
    text-indent: -9999px;
    line-height: 0;
}

#acceptBtn.accepted:after {
    content: 'Prove it !';
    text-indent: 0;
    display: block;
    line-height: initial;
}

@keyframes acceptBtnAccepted {
    from {
        clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        transform: translateX(25%);
    }
    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        transform: translateX(50%);
    }
}

#acceptBtn.refused {
    animation: acceptBtnRefused 2s;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    padding-left: 0;
    text-align: center;
    transform: translateX(50%);
}

@keyframes acceptBtnRefused {
    from {
        clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
        transform: translateX(25%);
    }
    to {
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        transform: translateX(50%);
    }
}

#denyBtn {
    background-color: #FEBCBD;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
    transform: translateX(-25%);
    text-align: right;
    padding-right: 12.5%;
}

#denyBtn.accepted {
    animation: denyBtnBtnAccepted 2s;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

@keyframes denyBtnBtnAccepted {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
        transform: translateX(-25%);
    }
    to {
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
        transform: translateX(-50%);
    }
}

#denyBtn.refused {
    animation: denyBtnBtnRefused 2s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-right: 0;
    text-align: center;
    transform: translateX(-50%);
    text-indent: -9999px;
    line-height: 0;
}

#denyBtn.refused:after {
    content: ':(';
    text-indent: 0;
    display: block;
    line-height: initial;
}

@keyframes denyBtnBtnRefused {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        transform: translateX(-25%);
    }
    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        transform: translateX(-50%);
    }
}

#navBtns {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#navBtns button, #formPhotoProof button, body > #sendBtn {
    width: 40%;
    padding: 15px;
    margin: 5px;
    border-radius: 10px;
    background-color: #E6A0A0;
    color: white;
    border-color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-width: 1px;
    font-weight: 500;
}

#sweetCounter {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 3px black;
    background-color: white;
    text-align: center;
}

#sweetCounter img {
    width: 150px;
    font-size: 16px;
    margin: 0;
}

#sweetCounter p {
    margin: 5px;
    margin-top: 0;
}

#formPhotoProof {
    min-height: 200px;
}

#formPhotoProof #photoProof {
    width: 200px;
    border-radius: 5px;
}

#formPhotoProof #cameraTakeProofPhoto, #formPhotoProof #photoProof {
    margin: 10px 0;
}

body > #sendBtn {
    background-color: #FEBCBD;
    margin: auto 10px 0;
}

footer {
    margin-top: auto;
}